.bot-message {
    background-color: #7c7c7c;
    color: white;
    padding: 8px;
    border-radius: 5px;
    margin: 5px 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

.user-input {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.user-input .form-control {
    flex-grow: 1;
    margin-right: 10px;
    height: 40px; /* Ensuring consistent height */
    box-sizing: border-box;
}

.btn-group {
    display: flex;
    align-items: center;
}

.btn-group .btn {
    margin-left: 5px;
    height: 40px; /* Match the height of the input field */
    padding-top: 0; /* Remove extra padding */
    padding-bottom: 0; /* Remove extra padding */
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-box {
    border: 3px solid #ccc;
    border-radius: 10px;
    height: 700px;
    width: 800px;
    overflow: auto;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar h1 {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 10px 0;
}

.example-questions {
    margin-top: 100px;
    margin-bottom: 15px;
    text-align: center;
}

.bot-avatar {
    width: 30px;
    height: auto;
    margin-right: 5px;
}

.chatbubble {
    position: relative;
    display: inline-block;
    margin-top: 40px;
    left: 5px;
}

.popover-button {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 12px;
    cursor: pointer;
}

.popover-content {
    display: none;
    position: absolute;
    top: 10px;
    left: 40px;
    background-color: #f9f9f923;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
}

.report-button {
    font-size: 8px;
    padding: 4px 8px;
}

.show {
    display: block;
}

div.terms {
    color: white;
}
